<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WeQuestion</title>
    <base href="/">

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/libs/angular-ui-tree/angular-ui-tree.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/editor.css">
    <link rel="stylesheet" type="text/css" href="~/Content/popup-publish.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
    
<div class="projectName-wrapper">
    <span class="projectName">WeQuestion</span>
</div>

<div class="main-wrapper" ui-view>
    <header ui-view="menu" class="menu"></header>
    <div ui-view="content" class="main-content"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-clipboard/1.4.2/angular-clipboard.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/angular.chartjs/1.0.2/angular-chart.min.js"></script>
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/app")
</body>
</html>
