<div class="menu">
    <div class="menu-options">
        <div class="menu-option" ui-sref="admin.provisional">
            <a >Provisional</a>
            <div class="active-label" ui-sref-active="active" ng-if="vm.stateName === 'admin.provisional'"></div>
        </div>
        <div class="menu-option" ui-sref="admin.open">
            <a >Open</a>
            <div class="active-label" ui-sref-active="active" ng-if="vm.stateName === 'admin.open'"></div>
        </div>
        <div class="menu-option" ui-sref="admin.closed">
            <a >Closed</a>
            <div class="active-label" ui-sref-active="active" ng-if="vm.stateName === 'admin.closed'"></div>
        </div>
    </div>
    <div class="actions">
        <button class="button button-green" ui-sref="admin.create">Create</button>
        <div class="logout" ng-click="vm.action.logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
    </div>
</div>