<div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody ng-repeat="survey in vm.surveys">
        <tr>
            <td>{{$index + 1}}</td>
            <td>{{survey.title}}</td>
            <td><button ui-sref="admin.edit({ id: survey.id })">Edit</button></td>
        </tr>
        </tbody>
    </table>
    <div ng-if="vm.currentState === vm.surveyState.Provisional">
        <button ui-sref="admin.create">Create</button>
    </div>

</div>