<div>
    <form>

        <label>Title</label>
        <input type="text" ng-model="vm.newSurvey.title"/>

        <br />
        
        <br/>

        <div ui-tree="vm.treeOptions" data-max-depth="2" data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes ng-model="vm.newSurvey.questions">
                <li ng-repeat="question in vm.newSurvey.questions" ui-tree-node data-nodrop-enabled="true">
                    <div>
                        <span>{{$index + 1}}</span>
                        <span ui-tree-handle>:::</span>
                        <input ng-model="question.title" placeholder="Question"/>
                    </div>
                    <ol ui-tree-nodes ng-model="question.options">
                        <li ng-repeat="option in question.options" ui-tree-node>
                            <div>
                                <span>{{$index | numberToLetter}}</span>
                                <span ui-tree-handle>:::</span>
                                <input ng-model="option.text" placeholder="Possible answer"/>
                                <input type="radio" ng-model="option.isCorrect" ng-value="true" ng-click="vm.action.uncheck(option)">
                            </div>
                        </li>
                        
                        <li>
                            <button ng-click="vm.action.addOption(question)">Add option</button>
                        </li>
                    </ol>
                </li>

                <li>
                    <button ng-click="vm.action.addQuestion()"> Add question</button>
                </li>
            </ol>
        </div>

        <button type="submit" ng-click="vm.action.submit()">Submit</button>
    </form>

</div>