<div class="editor">
    <div ng-show="!vm.newSurvey">
        Loading...
    </div>

    <form>
        <input type="text" class="title" ng-model="vm.newSurvey.title" placeholder="Title"/>

        <br/>

        <div ui-tree="vm.treeOptions" data-max-depth="2" data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes ng-model="vm.newSurvey.questions">
                <li ng-repeat="question in vm.newSurvey.questions" ui-tree-node data-nodrop-enabled="true">
                    <div>
                        <div class="question-index-container">
                            <span class="question-index">{{$index + 1}}</span>
                            <span ui-tree-handle>:::</span>
                        </div>
                        <div class="question-text">
                            <textarea ng-model="question.text" placeholder="Question"></textarea>
                        </div>
                    </div>
                    <ol ui-tree-nodes ng-model="question.options">
                        <li ng-repeat="option in question.options" ui-tree-node>
                            <div>
                                <span>{{$index | numberToLetter}}</span>
                                <span ui-tree-handle>:::</span>
                                <input ng-model="option.text" placeholder="Possible answer"/>
                                <input type="radio" ng-model="option.isCorrect" ng-value="true" ng-click="vm.action.uncheckOtherOptions(option)">
                            </div>
                        </li>

                        <li>
                            <button ng-click="vm.action.addOption(question)" class="button-small button-blue button-option">Add option</button>
                        </li>
                    </ol>
                </li>

                <li>
                    <button ng-click="vm.action.addQuestion()" class="button button-blue button-question"> Add question</button>
                </li>
            </ol>
        </div>

        <button type="submit" ng-click="vm.action.submit()" class="button button-green">Submit</button>
        <span ng-if="vm.saveInProgress">Saving...</span>
    </form>

</div>