<div>
    <h2>{{vm.survey.title}}</h2>

    <div>
        <span ng-if="!vm.survey.questions || !vm.survey.questions.length">Nema pitanja</span>
        <ol type="1">
            <li ng-repeat="question in vm.survey.questions | orderBy: 'index'" >
                {{question.text}}
                <ol type="a">
                    <li ng-repeat="option in question.options | orderBy: 'index'">
                        {{option.text}}
                    </li>
                </ol>
            </li>
        </ol>
    </div>

</div>