<div>
    <div ng-show="vm.isLoading && !vm.hasAlreadyParticipated">
        Loading...
    </div>
    <div ng-show="vm.hasSuccessfulyParticipated">
        Successfuly submited
    </div>
    <div ng-show="vm.hasAlreadyParticipated">
        You have already participated.
    </div>
    <div ng-show="!vm.isLoading && !vm.hasSuccessfulyParticipated && !vm.hasAlreadyParticipate">
        <div ng-hide="vm.check.isSuveyOpen()">
            Questionary closed
        </div>
        <div ng-show="vm.check.isSuveyOpen()">
            <form ng-show="vm.survey">
                <h2 class="survey-title">{{vm.survey.title}}</h2>

                <br />

                <div>
                    <ol>
                        <li ng-repeat="question in vm.survey.questions">
                            <div class="question-head">
                                <div class="question-index-container">
                                    <span class="question-index">{{$index + 1}}</span>
                                </div>
                                <div class="question-text">
                                    {{question.text}}
                                </div>
                            </div>
                            <ol class="options">
                                <li ng-repeat="option in question.options" class="option">
                                    <div>
                                        <div class="option-index-container">
                                            <span class="option-index">{{$index | numberToLetter}}</span>
                                        </div>
                                        {{option.text}}
                                        <input type="radio" ng-model="option.isSelected" ng-value="true" ng-click="vm.action.uncheckOtherOptions(option)">
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>

                <textarea ng-model="vm.survey.comment" placeholder="Want to give anonymous feedback? Write it down."></textarea>

                <button type="submit" ng-click="vm.action.submit()" class="button button-green button-submit">Submit</button>
                <span ng-if="vm.saveInProgress">Saving...</span>
            </form>
        </div>
    </div>
</div>